<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Cadastro</title>
    <style>
        body {
            background-color: navajowhite;
        }
        h1 {
            background-color: burlywood;
            text-align: center;
        }
        input[type="submit"] {
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <h1>MEU CADASTRO</h1>
    <h2>Altere seus dados</h2>
    <form action="/alterar" method="POST">
        <input type="text" name="nome" placeholder="Digite o nome de usuario" required>
        <br><br>
        <input type="email" name="email" placeholder="Digite seu email" required>
        <br><br>
        <input type="text" name="new_name" placeholder="Digite seu novo nome">
        <br><br>
        <input type="email" name="new_email" placeholder="Digite seu novo email">
        <br><br>
        <input type="submit" name="enviar" value="Alterar">
    </form>
    
    <h2>Cadastros:</h2>
    <ul>
        {% for conta in contas %}
        <li>{{ conta }}</li>
        {% endfor %}
    </ul>
    <hr>

    <div>
        <a href="index.html"><button type="button">Cadastrar</button></a>
        <a href="excluir.html"><button type="button">Deletar</button></a>
    </div>
</body>
</html>
